# Do not add spaces after the equal sign on the actual keys
# Example
# DISCORD_TOKEN=TOKEN.GOES.HERE
DISCORD_TOKEN=

# API URL for Commands 
# This is actually private API.
# Example
# API_URL=https://api.tamako.tech
API_URL=

FACEPLUSPLUS_KEY= 
FACEPLUSPLUS_SECRET=
GOOGLE_KEY+
APOD_KEY=
WEBSTER_KEY=
FLICKR_KEY=
GIPHY_KEY=
GITHUB_ACCESS_TOKEN=